.supervision_container {
    width: 100%;
    background: #fff;
}

.supervision_con_top {
    width: 100%;
    height: 255px;
    position: relative;
}

.s_c_t_img {
    width: 100%;
    height: 255px;
    position: absolute;
}

.s_c_t_lf {
    width: 160px;
    height: 70px;
    position: absolute;
    top: 15%;
    left: 10%;
}

.s_c_t_lf img {
    width: 100%;
    height: 50%;
    margin-top: 10px;
}

.s_c_t_rg {
    width: 110px;
    height: 120px;
    position: absolute;
    right: 10%;
    top: 10%;
}

.s_c_t_rg img {
    width: 100%;
    height: 100%;
}

.s_c_t_con {
    width: 100%;
    height: 92px;
    position: absolute;
    bottom: 0;
}

.s_c_t_con img {
    width: 100%;
    height: 92px;
    position: absolute;
}

.s_c_t_con_text_left {
    width: 90%;
    height: 80px;
    position: absolute;
    bottom: 0;
    left: 5%;
}

@media screen and (min-width:300px) and (max-width:350px) {
    .s_c_t_lf {
        width: 160px;
        height: 70px;
        position: absolute;
        top: 15%;
        left: 3%;
    }
    .s_c_t_rg {
        width: 110px;
        height: 120px;
        position: absolute;
        right: 5%;
        top: 10%;
    }
    
    .s_c_t_con_text_left {
        width: 94%;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 3%;
    }

    .s_c_t_con_text_right {
        width: 94%;
        height: 80px;
        position: relative;
        margin: 0 auto;
        /* right: 3%; */
    }
}

@media screen and (min-width:351px) and (max-width:375px) {
    .s_c_t_con_text_left {
        width: 90%;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 5%;
    }

    .s_c_t_con_text_right {
        width: 90%;
        height: 80px;
        position: relative;
        right: 5%;
    }
}

@media screen and (min-width:414px) and (max-width:749px) {
    .s_c_t_con_text_left {
        width: 88%;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 6%;
    }
}

@media screen and (min-width:750px) and (max-width:1024px) {
    .s_c_t_con_text_left {
        width: 80%;
        height: 80px;
        position: absolute;
        bottom: 0;
        left: 10%;
    }

    .s_c_t_con_text_right {
        width: 94%;
        height: 80px;
        position: relative;
        right: 3%;
    }

}

.s_c_t_con_text_left_l {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    /* background: #ff00cc; */
    text-align: center;
    color: #fff;
}

.s_c_t_con_text_left_l span {
    font-size: 30px;
    padding-top: 10px;
    display: inline-block;

}

.s_c_t_con_text_left_l p {
    font-size: 12px;
}

.s_c_t_con_text_left_r {
    width: 190px;
    height: 50px;
    margin-top: 20px;
    margin-left: 20px;
    overflow: hidden;
}

.s_c_t_con_text_left_r p {
    font-size: 20px;
}

.s_c_t_con_text_left_r span {
    font-size: 10px;
    color: #bbbbbb;
}

.s_c_t_con_text_left_link {
    width: 70%;
    height: 50px;
    margin: 0 auto;
    /* background: #ccc; */
    /* position: absolute; */
}

.s_c_t_con_text_left_link img {
    width: 100%;
    height: 100%;
}

.s_c_t_con_text_right {
    width: 92%;
    height: 80px;
    position: relative;
    /* margin: 0 auto; */
    /* left: 3%; */
}

.s_c_t_con_text_right_r {
    width: 80px;
    height: 80px;
    border-radius: 100px;
    background: #ff00cc;
    text-align: center;
    color: #fff;
}

.s_c_t_con_text_right_r span {
    font-size: 30px;
    padding-top: 10px;
    display: inline-block;
}

.s_c_t_con_text_right_r p {
    font-size: 12px;
}

.s_c_t_con_text_right_l {
    width: 190px;
    height: 50px;
    margin-top: 15px;
    margin-right: 20px;
    overflow: hidden;
}

.s_c_t_con_text_right_l p {
    font-size: 20px;
    float: right;
}

.s_c_t_con_text_right_l span {
    font-size: 10px;
    float: right;
    color: #bbbbbb;
}

.s_c_t_con_text_left_lg {
    width: 100%;
    height: 80px;
    position: relative;
}
.qqsh{
    background: #ff5858;
    /* color: #ff5858 */
}
.gcjd{
    background: #ff7a46;
    /* color: #ff7a46; */
}
.ybgc{
    background: #ffae2e;
    /* color:#ffae2e; */
}
.zqgc{
    background: #b6ca4c;
    /* color: #b6ca4c; */
}
.clys{
    background: #6fc242;
    /* color: #6fc242; */
}
.jgys{
    background: #1cab73;
    /* color: #1cab73; */
}


.qqsh_color {

    color: #ff5858
}

.gcjd_color {

    color: #ff7a46;
}

.ybgc_color {

    color: #ffae2e;
}

.zqgc_color {

    color: #b6ca4c;
}

.clys_color {

    color: #6fc242;
}

.jgys_color {

    color: #1cab73;
}
.s_c_t_con_footer {
    width: 100%;
    height: 135px;
    margin-top:20px; 
}
.s_c_t_con_footer img {
    width: 100%;
    height: 135px;

}